<%= render 'shared/smallBanner' %>
<div class="container">
  <div class="row">
    <div class="card-ingredient">
      <h2>Ingredients</h2>
         <% @doses.each do |dose|%>
            <p><%= image_tag("button.png", width: "20px") %>
            <strong><%= dose.ingredient.name %></strong> - <%= dose.description %>
            <%= link_to "(delete)", dose_path(dose),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: "button-delete" %></p>
         <% end %>
      <%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-carine" %>
    </div>
  </div>
</div>

